body{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(204, 232, 204);
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    width: 80px;
    padding: 0 20px;
}
ul {
    list-style: none;
}
i {
    padding-right: 10px;
}